# Fichiers temporaires
site/tmp/*.zip
site/tmp/*.gz

# Sauvegardes
site/backup/*.json

# Fichiers uploadés
site/file/data/*.json
site/backup/*.json
site/file/source/*
site/file/thumb/*

# Dossiers vides dans GitHub
!.gitkeep
/.git

# PHPStorm
.idea/

# Trucs
site/data/theme.json
.gitignore
site/data/core.json
core/vendor/tinymce/link_list.json
site/data/theme.css
site/data/custom.css
core/vendor/tinymce/link_list.json
