#blogArticlePicture {
	height: 350px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
#blogArticleCommentShow {
	cursor: text;
}
#blogArticleOr {
	padding: 10px;
}
/* Modif CroqueWeb */
@media (max-width: 767px) {
	#blogArticlePicture {
	height:150px;
	max-width: 100%;}
  }
/* fin modif croqueweb */

